<div class="contents row">
  <div class="container">
    <h3>投稿する</h3>
    <%= form_with(model: @post, local: true) do |f| %>
      <%= f.text_field :title, placeholder: "タイトル" %>
      <%= f.text_field :synopsis, placeholder: "あらすじ" %>
      <%= f.text_field :genre_id, placeholder: "ジャンル" %>
      <%= f.text_field :author, placeholder: "著者" %>
      <%= f.text_field :publication_date, placeholder: "出版日" %>
      <%= f.file_field :image, id:"item-image" %>      
      <%= f.text_area :text, placeholder: "感想", rows: "10" %>
      <%= f.submit "SEND" %>
    <% end %>
  </div>
</div>